* {
    margin: 0;
}

body {
    background: url(/Images/sabri-tuzcu-wunVFNvqhfE-unsplash.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

img {
    width: 100%;
}

.containerx {
    margin: auto;
    margin-top: 85px;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.skill-card {
    background-color: white;
    border-radius: 3vw;
    overflow-y: hidden;
    margin: 1vw;
    box-shadow: 1vw 1vw 3vw 1vw;
}

.skill-card:hover {
    scale: 1.1;
    cursor: pointer;
}

.skill-card p {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

/* .skill-image {
    width: 20vw;
    height: 10vw;
} */

.card-img {
    width: 207px;
    height: 115px;
}

@media screen and (max-width: 435px) {
    .card-img {
        width: 155px;
        height: 105px;
    }
}

@media screen and (max-width: 320px) {
    .card-img {
        width: 130px;
        height: 75px;
    }
}